.picture {
    height: 300px;
    width: 200px;
    text-align: left;
    position: relative;
}

.picture > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.picture > .img-container > img {
    width: 60%;
}


