.pictures {
    background: grey;
    height: 100px;
    width: 100px;
    text-align: left;
    position: relative;
}

.pictures > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.pictures > .img-container > img {
    width: 80%
}


